/* Required for full background image */

html,
body,
header,
.view {
  height: 100%;
}

body {
  position: relative;
  overflow-x: hidden;
}

.top-nav-collapse {
  background-color: #39448c !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #39448c !important;
  }
}

.active {
  background-color: rgba(255,255,255,.1);
}

.mask{
  background-color: rgba(21, 33, 97, 0.3);
}

#typed {
  white-space: pre;
  color: #ffffff;
  font-size: calc(25px + (36 - 25) * ((100vw - 300px) / (1600 - 300)));
}

.typed-cursor {
  color: #ffffff;
  font-size: 2.0rem;
}

.featured-image {
  height: auto;
}

.view img {
  display: inline;
}
.card {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

@media (max-width: 800px) {
  .card {
    width: 80%;
  }
}

.modal-section img {
  width: 100px;
}

.carousel-indicators li {
  border: 1px solid black;
}

.carousel-indicators .active {
  background-color: #39448c;
}